<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-image: url('/background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <title>Weather</title>
</head>

<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col d-flex justify-content-center">
                <h1><b>This is <span th:text="${location}"></span>'s weather</b></h1>
            </div>
        </div>



    </div>
</body>